<ion-view view-title="Account">
    <ion-content>
        <p ng-if="isSignedIn">Already Signed In</p>
        <form class="list" ng-if="!isSignedIn">
            <div class="item item-divider">
                Student Info
            </div>
            <label class="item item-input">
                <input type="text" placeholder="First Name" ng-model="student.firstname">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Last Name" ng-model="student.lastname">
            </label>
            <label class="item item-input">
                <input type="number" placeholder="Student ID" ng-model="student.studentId">
            </label>
            <div class="padding">
                <button class="button button-block" ng-click="submit()">Sign In</button>
            </div>
        </form>
    </ion-content>
</ion-view>
